html {
    height: 100%
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
    background-image: url("/img/kartka.png");
}

.breadcrumb-item+.breadcrumb-item::before {
    margin-top: 8px;
    collapse: '#ff991c';
}

.nav-link.active {
    --bs-nav-link-font-weight: 600
}

a {
    text-decoration: none!important;
    --bs-link-color: "#000000";
    --bs-nav-link-color: "#000000"
}


