{{define "categories"}}
<ul class="nav flex-column">
    {{ range .Categories }}
        {{ if eq $.CategoryPath (printf "%s/%s/%d" $.LevelPath "category" .Id) }}
            <li class="nav-item">
                <a class="nav-link active" href="{{ $.LevelPath }}/category/{{ .Id }}">
                    {{ .Name }}
                </a>
            </li>
        {{ else }}
            <li class="nav-item bg-body rounded shadow-sm mb-2">
                <a class="nav-link" href="{{ $.LevelPath }}/category/{{ .Id }}">{{ .Name }}</a>
            </li>
        {{ end }}
    {{ end }}
</ul>
{{ end }}