{{define "exercise"}}
<div class="row">
    <div class="col-auto">
        {{ if ne .Exercise.PreviousId 0 }}
        <a href="{{ $.SubcategoryPath}}/exercise/{{ .Exercise.PreviousId }}">
            <i class="bi bi-arrow-left text-success" style="font-size: 2rem;"></i>
        </a>
        {{ end }}
    </div>
    <div class="col text-center">
        {{ .Exercise.Task }}
    </div>
    <div class="col-auto">
        {{ if ne .Exercise.NextId 0 }}
        <a href="{{ $.SubcategoryPath}}/exercise/{{ .Exercise.NextId }}">
            <i class="bi bi-arrow-right text-success" style="font-size: 2rem;"></i>
        </a>
        {{ end }}
    </div>
</div>
<div class="row mt-3">
    {{ range .Exercise.Options }}
    <div class="col-6 mb-3 justify-content-center">
        <div class="d-flex h-100 justify-content-center align-items-center align-middle">
            {{ . }}
        </div>
    </div>
    {{ end }}
</div>
<script>
function collapse(id) {
    const bsCollapse = new bootstrap.Collapse(document.getElementById(id), {toggle: false})
    bsCollapse.hide()
}
</script>
<div class="row mt-3">
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#hintCollapse" aria-expanded="false"
                onclick="collapse('stepByStepCollapse')"
                aria-controls="hintCollapse">Hint</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#stepByStepCollapse" aria-expanded="false"
                onclick="collapse('hintCollapse')"
                aria-controls="stepByStepCollapse">StepByStep</button>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="hintCollapse">
                <div class="card card-body">
                    Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
                </div>
            </div>
            <div class="collapse multi-collapse" id="stepByStepCollapse">
                <div class="card card-body">
                    Some placeholder content for the second collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}