{{define "homepage"}}
<div class="row justify-content-center mb-3 bg-body rounded">
    <div class="col-12 pt-2">
        <h3>Początek roku szkolnego 2022</h3>
        <p>
            Wrzesień to czas powrotów do szkoły. Tak jak uczniowie wracają do szkół, tak i ZdamToSam znów jest potrzebne.
            W tym roku szkolnym wracamy w odświeżonej postaci, bardziej przyjaznej dla urządzeń mobilnych.
            Przez ostatni rok zgromadziliśmy dla was 6410 zadań.
            Lwia część z nich to zadania maturalne i te z egzaminów 8 klasisty, czyli te które pozwolą Ci przygotować się
            do najważniejszych egzaminów szkolnych.
            W tym roku będziemy dalej gromadzić zadania, jednocześnie dalej rozwijać stronę, aby tworzyła wygodną platformę do nauki.
        </p>
    </div>
</div>

<div class="row justify-content-center mb-3 bg-body rounded">
    <div class="col-12 pt-2">
        <h3>Zacznij naukę</h3>
        <p>
            Wybierz poziom zadań które Cię interesują, następnie wybierz dział i rodział który chcesz ćwiczyć.
            Kliknij w zadanie które chcesz rozwiązać i zacznij je rozwiązywać. Kiedy już poznasz właściwą odpowiedź,
            wybierz ją z 4 widocznych opcji. Jeżeli zadanie jest rozwiązane poprawnie, odpowiedź zamruga na zielono.
            Powodzenia!
        </p>
    </div>
</div>

<div class="row justify-content-center mb-3 bg-body rounded">
    <div class="col-12 pt-2">
        <h3>Dlaczego ZdamToSam?</h3>
        <p>
            Ostatecznie egzamin, sprawdzian czy kartkówkę zdajesz samodzielnie. Stąd ZdamToSam. Nie znaczy to,
            że musisz uczyć się sam (lub sama). Nauka matematyki potrafi być męcząca. Często w nauce pomagają rodzice,
            korepetytor czy kolega lub koleżanka. Czasami żadna z tych osób nie może pomóc w nauce. Wtedy pojawia się
            nasza strona. Naszym zadaniem jest pomóc tobie w nauce, przygotować zadania, podpowiedzi i rozwiązania.
            Innymi słowy, wszystko co pozwoli ci efektywnie uczyć się matematyki. Projekt rozpoczął się w kwietniu 2021
            i jest stale rozwijany przez jego twórców oraz osoby tworzące społeczność ZdamToSam.
        </p>
    </div>
</div>
{{ end }}