{{define "head"}}<title>ZdamToSam</title>{{end}}
{{define "body"}}
{{template "navbar" .}}
<div class="row">
    <div class="col-12 col-md-3">
        {{template "categories" .}}
    </div>
    <div class="col-6">
        {{ if eq .SubcategoryPath "" }}
        {{template "subcategories" .}}
        {{ else }}
            {{ if eq .ExercisePath "" }}
                {{template "exercises" .}}
            {{ else }}
                {{template "exercise" .}}
            {{ end }}
        {{ end }}
    </div>
    <div class="col-3">

    </div>
</div>

{{end}}