{{define "body"}}
{{template "navbar" .}}
<div class="row">
    {{ $displayMode := "d-block" }}
    {{ if ne .CategoryPath "" }}
    {{ $displayMode = "d-none d-md-block" }}
    {{ end }}
    <div class="col-12 col-md-3 col-xxl-2 {{ $displayMode }}">
        {{template "categories" .}}
    </div>
    <div class="col-12 col-md-9 col-xl-8 offset-xxl-1 col-xxl-6">
        {{ if eq .CategoryPath "" }}
            {{template "homepage" }}
        {{ end }}
        {{ if eq .SubcategoryPath "" }}
            {{template "subcategories" .}}
        {{ else }}
            {{ if eq .ExercisePath "" }}
                {{template "exercises" .}}
            {{ else }}
                {{template "exercise" .}}
            {{ end }}
        {{ end }}
    </div>
    <div class="col-xl-1 col-xxl-3 d-none d-xl-block">

    </div>
</div>

{{end}}