{{define "head"}}
<title>{{ .PageTitle }}</title>
<meta name="description" content="{{ .PageDescription }}">
{{end}}
{{define "navbar"}}
<nav>
    <div class="row navbar ">
        <div class="col-6 col-sm-auto order-1">
            <a class="navbar-brand" href="/">
                <img src="https://storage.googleapis.com/zdamtosam-images/brand.png" class="img-fluid" alt="ZdamToSam"/>
            </a>
        </div>
        <div class="col-12 col-sm-auto ms-auto order-sm-2 order-3 justify-content-end">
            <form class="mb-0 mt-1 mt-sm-0" role="search" action="/search">
                <input class="form-control me-2" type="search" placeholder="Wyszukaj"
                       name="query"
                       aria-label="Search"
                       id="search">
            </form>
        </div>
        <div class="col-6 col-sm-auto order-sm-3 order-2 justify-content-end">
            {{ if eq .LoggedUser.Id "" }}
            <a class="btn btn-outline-success float-end" href="/login">
                Zaloguj się
            </a>
            {{ else }}
            <div class="btn btn-outline-success float-end" onclick="logout()">
                Wyloguj się
            </div>
<!--            Future use -->
<!--            <a href="/profile">-->
<!--                <img src="{{ .LoggedUser.Picture }}" class="rounded-circle" alt="Profile picture" width="40px" height="40px" />-->
<!--            </a>-->
            {{ end }}
        </div>
    </div>
    <div class="row justify-content-center">
        {{ range .Levels }}
        <div class="col-auto">
            {{$active := ""}}
            {{if eq $.LevelPath (printf "%s%d" "/level/" .Id) }}
            {{ $active = "active" }}
            {{end}}
            <a class="nav-link text-center text-nowrap {{ $active }} p-2" href="/level/{{.Id}}">{{ .Name }}</a>
        </div>
        {{end}}
    </div>
    <div class="row pt-2">
        <div class="col-auto">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%23ff991c'/%3E%3C/svg%3E&#34;);"
                 aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {{ $breadLen := (len .Breadcrumbs) }}
                    {{ range $i, $b := .Breadcrumbs }}
                    {{ $i = (add $i 1) }}
                    {{ if eq $i $breadLen }}
                    <li class="breadcrumb-item active"><a href="{{ $b.Path }}" aria-current="page">{{ $b.Name }}</a></li>
                    {{ else }}
                    <li class="breadcrumb-item"><a href="{{ $b.Path }}">{{ $b.Name }}</a></li>
                    {{ end }}
                    {{ end }}
                </ol>
            </nav>
        </div>
    </div>
</nav>
{{end}}