{{define "navbar"}}
<nav>
    <div class="row navbar ">
        <div class="col-6 col-sm-auto order-1">
            <a class="navbar-brand" href="/">
                <img src="/img/brand.png" class="img-fluid" alt="ZdamToSam"/>
            </a>
        </div>
        <div class="col-12 col-sm-auto ms-auto order-sm-2 order-3 justify-content-end">
            <form class="mb-0" role="search" action="/search">
                <input class="form-control me-2" type="search" placeholder="Wyszukaj"
                       name="query"
                       aria-label="Search"
                       id="search">
            </form>
        </div>
        <div class="col-6 col-sm-auto order-sm-3 order-2 justify-content-end">
            <button type="button" class="btn btn-outline-success float-end">Zaloguj się</button>
        </div>
    </div>
    <div class="row justify-content-center">
        {{ range .Levels }}
        <div class="col-auto">
            <a class="nav-link text-center text-nowrap" aria-current="page" href="/level/{{.Id}}">{{ .Name }}</a>
        </div>
        {{end}}
    </div>
    <div class="row pt-0">
        Breadcrumbs
    </div>
</nav>
{{end}}