{{define "body"}}
{{template "navbar" .}}
<div class="row">
    <div class="col-12 col-md-3 col-xxl-2 d-none d-md-block">
    </div>
    <div class="col-12 col-md-9 col-xl-8 offset-xxl-1 col-xxl-6">
        <div>
            <h2>Polityka prywatności</h2>
            <br />
            <h5>Polityka prywatności i plików cookies</h5>
            <p>
                Drogi internauto, skoro trafiłeś na tę stronę to znaczy że interesuje cię twoje bezpieczeństwo w internecie. W sekcji "Podstawowe informacje" przygotowałem dla Ciebie skrócony opis zasad związanych z ochrona prywatności. Jeżeli informację w nim znalezione okażą się niewystarczające zapraszam do lektury pełnej treści strony polityki prywatności lub kontaktu mailowego ze mną (adres poniżej).
            </p>


            <h5>Podstawowe informacje</h5>
            <ol>
                <li>Administratorem danych osobowych na stronie <a href="/">zdamtosam.pl</a> jest Jakub Wójtowicz. Możesz się ze mną skontaktować w każdej chwili z wykorzystaniem adresu e-mail: <a href="mailto:admin@zdamtosam.pl">admin@zdamtosam.pl</a></li>
                <li>Pamiętaj, że podanie danych osobowych, a także zgoda na ich przetwarzanie są całkowicie dobrowolne. Wszelkie przekazane mi dane osobowe są przetwarzane wyłącznie w zakresie i w celu, na jaki wyraziłeś zgodę.</li>
                <li>W każdej chwili masz prawo do aktualizacji lub całkowitego usunięcia swoich danych osobowych. Możesz to zrobić samodzielnie lub korzystając z mojej pomocy.</li>
                <li>Dbam o należytą ochronę Twoich danych osobowych, gwarantując Ci, że będą one przetwarzane wyłącznie w celu, na który wyraziłeś zgodę, przechowywane w bezpieczny sposób oraz nieudostępniane podmiotom trzecim, jeżeli nie wyraziłeś na to zgody.</li>

                <li>Korzystam z narzędzi analitycznych, opisanych poniżej, które zbierają anonimowe informacje na temat Twoich odwiedzin serwisu. Wykorzystuję też narzędzia takie jak Google AdWords, które pozwalają wyświetlać Ci reklamy.</li>
                <li>Podobnie jak ma to miejsce niemal na każdej stronie internetowej, ja również wykorzystuję pliki cookies.</li>
            </ol>


            <h5>Administrator</h5>
            <p>
                Administratorem danych osobowych strony internetowej: <a href="/">zdamtosam.pl</a>, czyli podmiotem odpowiedzialnym za zapewnienie bezpieczeństwa Twoim danym osobowym jest Jakub Wójtowicz, NIP: 7282850338, REGON: 388148101.
                Możesz się ze mną skontaktować drogą mailową z wykorzystaniem adresu: <a href="mailto:admin@zdamtosam.pl">admin@zdamtosam.pl</a>
            </p>

            <h5>Twoje uprawnienia</h5>
            <p>
                Aktualne przepisy prawa przyznają Ci szereg uprawnień związanych z przetwarzaniem Twoich danych osobowych:
            </p>
            <ol>
                <li>prawo dostępu do danych osobowych,</li>
                <li>prawo do sprostowania danych osobowych,</li>
                <li>prawo do usunięcia danych osobowych,</li>
                <li>prawo do ograniczenia przetwarzania danych osobowych,</li>
                <li>prawo do wniesienia sprzeciwu co do przetwarzania danych osobowych,</li>
                <li>prawo do przenoszenia danych,</li>
                <li>prawo do wniesienia skargi do organu nadzorczego (Prezesa Urzędu Ochrony Danych Osobowych),</li>
                <li>prawo do odwołania zgody na przetwarzanie danych osobowych, jeżeli wyraziłeś taką zgodę.</li>
            </ol>
            <p>
                Pamiętaj, że zawsze możesz również zwrócić się do mnie z żądaniem udostępnienia Ci szerszych informacji, jakimi danymi na Twój temat dysponuję oraz w jakich celach je przetwarzam. Wystarczy, że wyślesz wiadomość na podany powyżej adres e-mail.
            </p>

            <h5>Zamówienia i wystawianie faktur VAT</h5>
            <p>
                Zamawiając na stronie internetowej jakikolwiek produkt, podajesz mi dane niezbędne do realizacji zamówienia (imię i nazwisko, adres rozliczeniowy, adres e-mail). Podanie danych jest dobrowolne, ale niezbędne do złożenia zamówienia.
            </p>

            <p>
                Dane przekazane mi w związku z zamówieniem przetwarzane są w celu realizacji zamówienia, wystawienia faktury i uwzględnienia jej w dokumentacji księgowej, a także mogą być wykorzystane w celach archiwalnych i statystycznych.
            </p>

            <p>
                Dane o zamówieniach będą przetwarzane przez czas niezbędny do realizacji zamówienia, a później do czasu upływu terminu przedawnienia roszczeń z tytułu zawartej umowy. Po upływie tego terminu, dane nadal mogą być przeze mnie przetwarzane w celach statystycznych. Mam obowiązek przechowywać faktury przez okres 5 lat od końca roku podatkowego, w którym nastąpiło wystawienie faktury VAT.
            </p>

            <p>
                W przypadku danych podanych w celu realizacji zamówienia nie możesz sprzeciwić się przetwarzaniu danych oraz domagać się usunięcia danych do czasu upływu terminu przedawnienia roszczeń z tytułu zawartej umowy.
            </p>

            <h5>Reklamacje i odstąpienie od umowy</h5>
            <p>
                Składając reklamację lub odstępując od umowy przekazujesz mi dane osobowe zawarte w treści swojego oświadczenia (imię i nazwisko, adres, adres e-mail oraz ewentualnie numer rachunku bankowego).
            </p>
            <p>
                Podanie tych danych jest dobrowolne, lecz konieczne, by złożyć reklamację lub odstąpić od umowy. Dane przekazane mi w związku ze złożeniem reklamacji lub odstąpieniem od umowy wykorzystywane są w celu realizacji procedury reklamacyjnej lub procedury odstąpienia od umowy.
            </p>
            <p>
                Dane będą przetwarzane przez czas niezbędny do realizacji procedury reklamacyjnej lub procedury odstąpienia. W przypadku danych zawartych w reklamacjach oraz oświadczeniach o odstąpieniu od umowy nie masz możliwości sprzeciwić się przetwarzaniu swoich danych oraz domagać się usunięcia danych do czasu upływu terminu przedawnienia roszczeń z tytułu zawartej umowy.
            </p>

            <h5>Cele w jakich przetwarzam Twoje dane osobowe</h5>
            <p>
                Twoje dane osobowe są wykorzystywane do monitorowania twoich postępów w nauce.
                Zbierane są takie informacje jak identyfikator rozwiązanego zadania, czas poświęcony na jego rozwiązanie czy identyfikator udzielonej odpowiedzi.
                Informację te mają służyć przede wszystkim tobie i osobom pomagającym Ci w nauce.
                Administrator strony może wykorzystywać te informację w celu usprawnienia działania bądź dalszej rozbudowy portalu.
            </p>

            <h5>Powierzenie przetwarzania danych osobowych</h5>
            <p>
                Twoje dane mogą być przetwarzane przez podmioty trzecie, którym zlecam wykonanie poszczególnych czynności związanych z zapewnieniem właściwego funkcjonowania strony internetowej. Podmioty, którym zlecam przetwarzanie danych osobowych, gwarantują stosowanie odpowiednich środków ochrony i bezpieczeństwa danych osobowych wymaganych przez przepisy prawa. Podmioty, którym powierzam przetwarzanie danych, to:
            </p>
            <ul>
                <li>Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA – w celu przechowywania danych osobowych na serwerze.</li>
            </ul>


            <h5>Logi serwera</h5>
            <p>
                Korzystając z mojej strony internetowej przesyłasz z wykorzystaniem swojego urządzenia zapytania do serwera, na którym przechowywana jest moja strona. Logi obejmują m.in. adres IP, datę i czas serwera, informacje o przeglądarce internetowej i systemie operacyjnym, które używasz. Logi są zapisywane i przechowywane na serwerze. Logi serwera stanowią wyłącznie materiał pomocniczy służący do administrowania stroną. Ich zawartość nie jest nikomu ujawniana.
            </p>
            <p>
                Dane zapisane w logach serwera nie są kojarzone z konkretnymi osobami korzystającymi ze strony i nie są wykorzystywane w celu identyfikacji konkretnych osób.
            </p>


            <h5> Pliki cookies</h5>
            <p>
                Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, które przechowywane są w Twoim urządzeniu końcowym. Na stronie internetowej stosuję dwa zasadnicze rodzaje plików cookies: sesyjne oraz stałe. Cookies sesyjne są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). Stałe pliki cookies przechowywane są w Twoim urządzeniu końcowym przez czas określony w parametrach plików cookies lub do czasu ich usunięcia przez Ciebie.
            </p>
            <p>
                <i>
                    Zgodę na stosowanie na mojej stronie plików cookies wyrażasz za pomocą ustawień swojej przeglądarki internetowej w swoim urządzeniu końcowym. W każdym momencie możesz dokonać zmiany ustawień dotyczących plików cookies.
                </i>
            </p>

            <p>
                Ustawienia dotyczące plików cookies mogą zostać zmienione w szczególności w taki sposób, aby blokować automatyczną obsługę plików cookies w ustawieniach przeglądarki internetowej bądź informować o ich każdorazowym zamieszczeniu w Twoim urządzeniu. Szczegółowe informacje o możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach oprogramowania przeglądarki internetowej. Pamiętaj, że wyłączenie lub ograniczenie obsługi plików cookies może powodować trudności w korzystaniu z mojej strony.
            </p>
            <p>
                Wykorzystuję cookies własne w celu:
            </p>
            <ol>
                <li>zapewnienia prawidłowego działania strony.
                </li>
            </ol>
            <p>
                Wykorzystuję również cookies podmiotów zewnętrznych:
            </p>
            <ol>
                <li>Google Analytics (wydawca: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA) – w celu tworzenia statystyk i ich analizie dla optymalizacji strony,</li>
                <li>Google Adwords (wydawca: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA) – w celu promocji mojej strony internetowej.</li>
            </ol>


            <h5>Zmiana polityki prywatności i plików cookies</h5>
            <p>
                Zastrzegam sobie prawo do wprowadzania zmian w polityce prywatności. Zmiany będą wprowadzane jeśli będzie wymagać tego obowiązujące prawo lub ulegną zmianie warunki technologiczne funkcjonowania mojej strony internetowej. Aktualny tekst polityki prywatności oraz wersje archiwalne (dostęp na prośbę użytkownika) zawsze będą dostępne dla użytkowników ZdamToSam.
            </p>
        </div>
    </div>
    <div class="col-xl-1 col-xxl-3 d-none d-xl-block">

    </div>
</div>

{{end}}