{{define "body"}}
{{template "navbar" .}}
<div class="row">
    <div class="col-12 col-md-3 col-xxl-2 d-none d-md-block">
    </div>
    <div class="col-12 col-md-9 col-xl-8 offset-xxl-1 col-xxl-6">
        <div>
            <h2>Warunki korzystania z serwisu</h2>
            <p>
                Witaj w <b>Zdam To Sam</b>, stronie poświęconej nauce matematyki.
            </p>
            <p>
                Poniżej znajdziesz kilka kluczowych zasad którymi kieruję się tworząc portal.
            </p>
            <ol>
                <li>
                    Korzystanie z serwisu <a href="/">Zdam To Sam</a> w jego podstawowej wersji jest wolne od opłat.
                </li>
                <li>
                    Korzystanie z serwisu nie wymaga logowania, chociaż gorąco zachęcam do skorzystania z tej opcji w celu możliwości monitorowania swoich postępów w nauce.
                </li>
                <li>
                    Administrator strony nie ponosi odpowiedzialności za błędy w udostępnionych zadaniach. Jeżeli uważasz, że rozwiązanie jakiegoś zadania jest błędne możesz się ze mną skontaktować mailowo pod adresem <a href="mailto:admin@zdamtosam.pl">admin@zdamtosam.pl</a>
                </li>
                <li>
                    Zalogowani użytkownicy mają prawo w dowolnym momencie usunąć swoje konto, a razem z nim wszystkie dane z nim powiązane. Raz usunięte dane nie są możliwe do odzyskania!
                </li>
            </ol>
        </div>
    </div>
    <div class="col-xl-1 col-xxl-3 d-none d-xl-block">

    </div>
</div>

{{end}}